
.rodape {
    background-color: #F7F7F8;
    color: rgba(0, 0, 0, 0.671); 
    margin-top: 262px; 
    width: 100vw;
    align-items: end;
    align-content: end;
}

.rodape-conteudo {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.rodape-titulo {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Redes Sociais */
.redes-sociais {
    margin-bottom: 20px;
    
}
.redes-sociais img { 
    height: 24px; 
    margin-right: 8px; 
    vertical-align: middle; 
}

.redes-sociais a {
    color: rgba(0, 0, 0, 0.671);
    font-size: 24px; 
    margin: 0 10px;
    transition: color 0.3s ease; 
    display: inline-block; 
}


.redes-sociais a:hover {
    color: #007bff;
    transform: scale(1.1); 
}

.rodape-copy {
    font-size: 0.9em;
    opacity: 0.8;
    margin-top: 15px;
}