@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.header {
    background-color: #F7F7F8;
    font-family: 'Poppins', monospace;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

/* Barra de navegação  #F7F7F8*/
.logo{
    width: auto;
    margin:auto;
}

.logo img{
    height: 100px;
    width: auto;
}

.nav {
    background-color: #F7F7F8;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 1400px;
    display: flex;
    align-items: center;
}


.nav-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  
  
}

.nav-list .items a {
  display: block;
  color: rgba(0, 0, 0, 0.671);
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  border-radius: 10px;
  
}

/* botão contato */ 
.button {
  color: #ffff;
  background-color: #1A494E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 6px;
}

.button:hover {
  background-color: #2b737a;
}


.items a:hover {
  background-color: #c4c4c4ad;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



/* Dropdown menu */ 


.dropdown li{
  display: block;
}
ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
  background-color: #F7F7F8;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}