@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  background-color: #F7F7F8;
  font-family: 'Poppins', monospace;
    padding-inline: 16px;
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;
}

/* Barra de navegação */
.logo{
    
    width: auto;
    margin:auto;
}

.logo img{
    height: 100px;
    width: auto;
}

.nav {
    margin: auto;
    padding: auto;
    height: 150px;
    width: auto;
    display: flex;
    align-items: center;
    
  
}


.nav-list{
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  
  
}

.nav-list a {
  display: block;
  color: rgba(0, 0, 0, 0.671);
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  border-radius: 10px;
  
}

.items a:hover {
  background-color: #c4c4c4ad;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/* Dropdown menu */ 


.dropdown li{
  display: block;
}
ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
  background-color: #F7F7F8;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}