body {
    background-color: #F0F3F3;
}

header {
    height: 200px;
    width: auto;
    background-color: #1E3D59;
    display: flex;
    flex-direction: row;
}


.logo{
    height: 200px;
    width: 35%;
    background-color: #C88EA7;
    
}


.navBar {
    background-color: #a02d19;
    height: 200px;
    width: 35%;
}





main {
    height: 1000px;
    width: auto;
    background-color: #700aa3;
    display: flex;
}