@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #F7F7F8;
    font-family: 'Poppins', monospace;
}

.main {
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content {
    
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sidebar-image {
    width: 400px;
    margin-right: 150px;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}


.content {
    
    padding: 20px;
    width: 500px;
    height: 610px;
    display: flex;
    
}



.text-content {
    
    font-size: 20px;
    color: rgba(0, 0, 0, 0.671);
    line-height: 1.6;
    
}

.text-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    
}

.text-content p {
    margin-bottom: 20px;
}

.title {
    display: inline;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 20px;
}


.funcionamento  {
margin-top: 60

px;
display: flex;
margin-left: auto;
margin-right: auto;
width: 1150px;
height: 1000px;
flex-direction: column;
align-content: center;
align-items: center;
color: rgba(0, 0, 0, 0.671);
  
}

.funcionamento-image {
margin-top: 150px;
border-radius: 10px;
}

.funcionamento-text {
    font-size: 40px;
    margin-top: 100px;
    color: rgba(0, 0, 0, 0.671);
    text-align: center;
}

.depoimento {
    
    align-items: center;
    text-align: center;
    width: 1150px;
    height: 400px;
    margin-top: 200px;
    border-radius: 10px;
    
}

.carrosel{
    display: none;
    margin-top: 40px;
    
}

.depoimento h1{
    font-size: 40px;
}