@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #F7F7F8;
    font-family: 'Poppins', monospace;
    height: 100%;
}

.main {
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.main-content {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.sidebar-image {
    width: 400px;
    margin-right: 80px;
    margin-bottom: 215px;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    background-color: #1A494E;
}


.content {
    
    width: 100%;            /* ocupa 100% da .sidebar sem ultrapassar */
    max-width: 100%;
    height: 850px;
    display: flex;
    text-align: justify;
    
}



.text-content {
    
    font-size: 16px;
    color: rgba(0, 0, 0, 0.671);
    line-height: 1.6;
    
}


.text-content p {
    margin-bottom: 20px;
}

.title {
    display: inline;
    font-size: 35px;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 20px;
}


.funcionamento  {

display: flex;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 1150px;
height: auto;
flex-direction: column;
align-content: center;
align-items: center;
  
}


.contato{
padding: 1px;
color: #1A494E;;
margin-top: 20px;

border-radius: 10px;
background-color: #F7F7F8;
}


@media  screen and (max-width: 900px) {
    .sidebar {
        flex-direction: column-reverse;
        
    }

    .sidebar-image {
        width: 80%;
        margin: 0 0 20px 0;
    }

    .content {
        height: auto;
        width: 90%;
        text-align: justify;
    }

    .text-content {
        font-size: 18px;
        text-rendering: optimizeLegibility;
    }
    
}