@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #F7F7F8;
    font-family: 'Poppins', monospace;
}

.main {
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.main-content {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

address {
    font-style: normal;
    font-style: italic;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.671);
    font-size: 18px;}
    
.sidebar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    height: auto;  
    display: flex;
    align-items: center;
    justify-content: center;
    
}  

.sidebar-image {
    width: 400px;
    margin-right: 150px;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}


.content {
    
    padding: 20px;
    width:  100%;
    max-width: 100%;
    height: 2500px;
    display: flex;
    text-align: justify;
    
}



.text-content {
    
    font-size: 20px;
    color: rgba(0, 0, 0, 0.671);
    line-height: 1.6;
    text-align: left;
}

.text-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    
}

.text-content p {
    margin-bottom: 20px;
}

.title {
    display: inline;
    font-size: 30px;
    font-weight: bold;
}

h1.title {
    display: inline;
    
    font-weight: bold;
}

h3.title {
    font-weight: bold;
    font-size: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 20px;
}


.funcionamento  {

display: flex;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 1150px; 
height: auto;
flex-direction: column;
align-content: center;
align-items: center;
  
}

.contato{
padding: 1px;
color: #1A494E;;
margin-top: 20px;
border-radius: 10px;
background-color: #F7F7F8;
}



.lista {
    list-style: decimal inside;
    word-break: normal;
}

.lista1 {
    list-style: disc inside;
}

.politicas{
    text-align: center;
}

.terapia {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    margin-right: 100px;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.caption{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.671);
    font-style: italic;
    margin-top: 5px;
    margin-right: 100px;
}


@media  screen and (max-width: 900px) {
    .sidebar {
        flex-direction: column;
        
    }

    .sidebar-image {
        width: 80%;
        margin: 0 0 20px 0;
    }

    .content {
        height: auto;
        width: 90%;
        text-align: justify;
    }

     .text-content {
        font-size: 20px;
        text-rendering: optimizeLegibility;
        text-align: left;
    }
    .main{
        margin-bottom: 50px;
    }
    
    .title {
        font-size: 30px;
    }
    .img-container {
        display: block;
    }
    .caption{
        margin-right: 0px;
    }
}