<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/empresas.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/home.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <button type="submit" class="button"><a class="button" href="https://w.app/psi_brunalucas" target="_blank">Entre em contato</a></button>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
    <li class="items"><a href="/views/Blog.html">Blog</a>
    </li>
</ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                    <div class="content">
                        <div class="text-content">
                            <div class="title">Para Empresas: A Saúde Mental como Pilar Estratégico e Legal<hr></div>
                            <p>Em um cenário corporativo cada vez mais competitivo, investir no bem-estar e na saúde mental dos colaboradores transcende a esfera da compliance para se tornar uma estratégia essencial de gestão e sustentabilidade do negócio. Os dados de afastamento do trabalho por transtornos mentais no Brasil são alarmantes, com registros que dobraram em 10 anos, colocando essas condições (como depressão e ansiedade) entre as principais causas de concessão de benefícios por incapacidade pelo INSS. Este cenário reforça a urgência de ação, são vidas e famílias inteiras que sofrem o impacto do adoecimento mental. Para além disso, o adoecimento mental gera perdas financeiras significativas com absenteísmo, queda de produtividade e alta rotatividade, o que impacta diretamente nos resultados das organizações.</p>

<p>Diante disso, a gestão de riscos ganhou uma nova dimensão. A recente atualização da Norma Regulamentadora 1 (NR 1), por meio da Portaria MTE nº 1.419/2024, trouxe a inclusão expressa dos Riscos Psicossociais no Programa de Gerenciamento de Riscos (PGR).</p>

<p>De acordo com as diretrizes da NR 1, os Riscos Psicossociais são os fatores relacionados à organização e gestão do trabalho, bem como às interações interpessoais no ambiente laboral (como sobrecarga, assédio moral e falta de autonomia), que têm o potencial de causar danos à saúde mental (Burnout, estresse, ansiedade) e, consequentemente, afetar a saúde física. Esta nova diretriz legal estabelece como objetivos centrais a identificação, avaliação e prevenção dessas condições, exigindo a análise rigorosa das condições de trabalho que geram sofrimento para a mitigação efetiva dos riscos.</p>

<p>Com mais de 10 anos de experiência em Saúde Ocupacional e Gestão de Pessoas (incluindo passagens por multinacional e grande banco de investimentos), pauto meu trabalho na Psicologia Organizacional e do Trabalho (POT), como um aliado estratégico da gestão de negócios, focado em fortalecer espaços com segurança psicológica. A importância de estabelecer ações de Promoção de Saúde Mental é crucial. Para apoiar sua empresa neste desafio legal e humano, eu atuo com:</p>

<ol class="company-list">
<li>Avaliação de Risco Psicossocial: Mapeamento e prevenção dos fatores de risco e condições laborais que podem gerar estresse ocupacional, em conformidade com as diretrizes da Norma Regulamentadora 01.</li><br>
<li>Palestras e Rodas de Conversas de Saúde Mental no Trabalho: Abordagens práticas sobre ansiedade, depressão, Burnout e o desafio de manter um balanço equilibrado entre a vida profissional e familiar.</li><br>
<li>Campanhas Institucionais de Conscientização: Criação e facilitação de ações estratégicas para o Janeiro Branco (saúde mental), Setembro Amarelo (prevenção ao suicídio) e outras datas relevantes.</li><br>
<li>Temas de Diversidade e Inclusão: Foco no acolhimento de grupos minorizados e na gestão da diversidade cultural, essencial para a construção de um ambiente de trabalho psicologicamente seguro.</li><br>
</ol>

                                <div class=contato>
                                        <div class="redes-sociais">
                                <span>Entre em contato:</span>
                                <a href="mailto:psi.brunalucas@gmail.com" target="_blank"><img src="/imgs/icons/mail_2.png" alt="email" ></a>
                                <a href="https://w.app/psi_brunalucas" target="_blank"><img src="/imgs/icons/whatsapp_2.svg" alt="whatsapp" ></a>
                                        </div>
                                </div> 
                                <div class="espaco">

                                </div>
                        </div>
                    </div>
            </div>
        </div>
    </main>

<footer>
 <div class="footerCompany">
        <div class="footer-top">
            <div class="footer-logo">
                <span class="logo-text">
                    Bruna Lucas
                </span>
            </div>
            <nav class="footer-nav">
                <a href="sobreMim.html">Sobre Mim</a>
                <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                <a href="Blog.html">Blog</a>
                
            </nav>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
                <a href="mailto:psicologabrunalucas@gmail.com" >Email</a>
                <a href="https://www.instagram.com/psi.brunalucas"  target="_blank">Instagram</a>
                <a href="https://wa.me/message/KAI3R2U7MTONI1" aria-label="WhatsApp" target="_blank">WhatsApp</i></a>
                <a href="/views/politica_privacidade.html" class="privacy-policy" target="_blank">Política de Privacidade</a>
            </div>
        </div>
    </div>
    </footer>

</body>

</html>