<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>PSI | Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/home.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <button type="submit" class="button"><a class="button" href="https://w.app/psi_brunalucas" target="_blank">Entre em contato</a></button>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    </li>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="/views/#">Blog</a></li>
    <li class="items"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
    

</ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                <img class="sidebar-image"  src="/imgs/Bench.png" alt="Foto da Bruna Lucas">
                    <div class="content">
                        <div class="text-content">
                            <div class="title">Terapeuta Online
                                <hr>
                            </div>
                            <p><h2>Bruna Lucas, psicóloga clínica</h2></p>
                            <p>Bem-vindo(a)!<br><br> 
                                Sabemos que a vida moderna desafia seu equilíbrio interno. <br>
                                Viver plenamente, é saber lidar com desafios, construir relações saudáveis.
                                <div class="contato"><button class="button">Entrar em Contato</button> </div>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="funcionamento">
            
            <div class="funcionamento-content">
                <div class="funcionamento-text">
                    <h2>Como funciona</h2>
                </div>
                <img class="funcionamento-image" src="/imgs/funcionamento.png" alt="Ícone de funcionamento">
            </div>
            <div class="depoimento">
                <h1><b>Depoimentos</b></h1>
                <div class="carrosel">
                    <p>
                        O atendimento psicológico me ajudou a compreender melhor como a ansiedade influencia meu dia a dia e as minhas reações diante de certas situações. Durante as sessões, pude reconhecer padrões de pensamento que aumentavam minha tensão e aprender maneiras mais saudáveis de lidar com as preocupações. A psicóloga criou um espaço acolhedor, onde me senti à vontade para falar sem julgamentos. <br>
                        Com o tempo, comecei a perceber pequenas mudanças — passei a identificar meus limites, respirar com mais calma e me ouvir mais. Foi um processo importante de autoconhecimento e cuidado comigo mesmo, que me fez enxergar que pedir ajuda não é sinal de fraqueza, mas de maturidade e coragem.
                    </p>   
                </div>
                <div class="carrosel">
                           <p> Durante o acompanhamento psicológico, percebi o quanto a procrastinação estava ligada a sentimentos de medo e autocrítica. Eu adiava tarefas não por preguiça, mas por insegurança e perfeccionismo. Nas sessões, aprendi a reconhecer esses padrões e a me permitir errar sem tanto peso.<br>
                            Comecei a dividir grandes tarefas em pequenas metas e comemorar os avanços, por menores que fossem. Aos poucos, passei a agir com mais leveza e consciência, entendendo que o progresso é mais importante do que a perfeição. Esse processo me fez sentir mais confiante e responsável pelas minhas escolhas.</p>
                </div>
        </div>
    </main>
<footer>
<div class="footer1">
        <div class="footer-top">
            <div class="footer-logo">
                <span class="logo-text">
                    Bruna Lucas
                </span>
            </div>
            <nav class="footer-nav">
                <a href="sobreMim.html">Sobre Mim</a>
                <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                
            </nav>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
                <a href="#" aria-label="E-mail"><i class="fa-solid fa-envelope"></i></a>
                <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                
                <a href="#" class="privacy-policy">Política de Privacidade</a>
            </div>
        </div>
        </div>
    </footer>

</body>

</html>