<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>PSI | Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/index.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <div class="contato"><button type="submit" class="button"><a href="https://wa.me/message/KAI3R2U7MTONI1" target="_blank">Entrar em contato</a></button></div>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    </li>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="/views/Blog.html">Blog</a></li>
    <li class="items"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
</ul>

<button id="btn-menu" onclick="animacao()">
    <span class="linha"></span>
    <span class="linha"></span>
    <span class="linha"></span>
</button>
<div class="nav-mobile" id="Menu">
    <ul class="nav-list-mobile">
    <li class="items-mobile"><a href="/sobreMim.html">Sobre Mim</a></li>
    <li class="items-mobile"><a href="/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
    <li class="items-mobile"><a href="/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
    <li class="items-mobile"><a href="/Empresas.html">Para Empresas</a></li>
    <li class="items-mobile"><a href="/Blog.html">Blog</a></li>
    <li class="items-mobile"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
</ul>
</div>

        </nav>
        <!-- menu mobile. -->
         
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                <img class="sidebar-image"  src="/imgs/Bench.png" alt="Foto da Bruna Lucas">
                    <div class="content">
                        <div class="text-content">
                            <div class="title">Terapeuta Online
                                <hr>
                               
                            </div>
                            <p><h2>Bruna Lucas, psicóloga clínica</h2></p>
                            <p>Bem-vindo(a)!<br><br> 
                                Sabemos que a vida moderna desafia seu equilíbrio interno. <br>
                                Viver plenamente, é saber lidar com desafios, construir relações saudáveis.
                                <div class="contato"><button type="submit" class="button"><a href="https://wa.me/message/KAI3R2U7MTONI1" target="_blank">Entrar em Contato</a></button> </div>
                            </p>
                        </div>
                    </div>
            </div>

            

        </div>
        <div class="funcionamento">
            
            <div class="funcionamento-content">
                <div class="funcionamento-text">
                    <h2>Como funciona</h2>
                </div>
                <div class="funcionamento-mobile">
                    <ol class="lista-mobile">
                        <li>Primeiro contato</li>
                        <br><p> Entre em contato no WhatsApp para conversarmos e esclarecer dúvidas.</p><br>
                        <li>Agendamento de Sessão</li>
                        <br><p>Após isso, iremos agendar um horario para darmos inicio nas sessões de psicoterapia online.</p><br>
                        <li>Plano Personalizado</li>
                        <br><p>O plano terapeutico é personalizado e totalmente alinhado aos seus objetivos e necessidades</p><br>
                    </ol>
                </div>
                <img class="funcionamento-image" src="/imgs/funcionamento.png" alt="Ícone de funcionamento">
            </div>
            <div class="depoimento">
                <h1><b>Depoimentos</b></h1>
                <div class="carrosel_container">
                <div class="carrosel">
                    <p class="carroselText">O atendimento psicológico me ajudou a entender melhor como a ansiedade afeta meu dia a dia e minhas reações.<br><br> Nas sessões, aprendi a reconhecer pensamentos que aumentavam minha tensão e a lidar de forma mais saudável com as preocupações.</p>
                    <br><p class="carroselText">A psicóloga ofereceu um espaço acolhedor e sem julgamentos, o que facilitou meu processo de autoconhecimento. <br><br>Com o tempo, passei a respeitar meus limites e percebi que buscar ajuda é um ato de maturidade e coragem.</p>
                    <div class="initials">
                                    <span>MD</span>
                                </div>
                </div>
                <div class="carrosel">
                           <p class="carroselText"> Durante o acompanhamento psicológico, percebi o quanto a procrastinação estava ligada a sentimentos de medo e autocrítica.<br> <br>Eu adiava tarefas não por preguiça, mas por insegurança e perfeccionismo.</p><br>
                            <p class="carroselText">Nas sessões, aprendi a reconhecer esses padrões e a me permitir errar sem tanto peso.</p><br>
                            <br><p class="carroselText">Comecei a dividir grandes tarefas em pequenas metas e comemorar os avanços, por menores que fossem. Aos poucos, passei a agir com mais leveza e consciência, entendendo que o progresso é mais importante do que a perfeição.</p>
                            <br><p class="carroselText"> Esse processo me fez sentir mais confiante e responsável pelas minhas escolhas.</p>
                                <div class="initials">
                                    <span>CAC</span>
                                </div>
                </div>
                
                </div>
            </div>
        </div>
    </main>
<footer>
<div class="footer1">
        <div class="footer-top">
            <div class="footer-logo">
                <span class="logo-text">
                    Bruna Lucas
                </span>
            </div>
            <nav class="footer-nav">
                <a href="sobreMim.html">Sobre Mim</a>
                <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                
            </nav>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
                <a href="mailto:psicologabrunalucas@gmail.com" >Email</a>
                <a href="https://www.instagram.com/psi.brunalucas"  target="_blank">Instagram</a>
                <a href="https://wa.me/message/KAI3R2U7MTONI1" aria-label="WhatsApp" target="_blank">WhatsApp</i></a>
                <a href="/views/politica_privacidade.html" class="privacy-policy" target="_blank">Política de Privacidade</a>
            </div>
        </div>
        </div>
    </footer>

</body>

</html>