<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/perguntas_frequentes.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/home.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <li><button type="submit" class="button"><a class="button" href="https://w.app/psi_brunalucas" target="_blank">Entre em contato</a></button></li>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
    <li class="items"><a href="Blog.html">Blog</a></li>
    </li>
</ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                
                    <div class="content">
                        <div class="text-content">
                            <div class="title"><h2>Perguntas Frequentes</h2><hr></div>
                            <p>
                            <ol class="listPerguntas">
                                <li><strong>Qual a duração e a frequência dos encontros?</strong><br>
                                    Cada sessão tem uma duração de <strong><b>50 minutos</b></strong>.<br>
                                    Em relação à frequência, isso é discutido e definido individualmente, mas, como regra geral, os atendimentos acontecem de forma semanal.

                                </li><br>
                                <li><strong>Por quanto tempo preciso fazer terapia?</strong><br>
                                    Não existe um prazo fixo. A duração do processo terapêutico é totalmente variável e depende das suas necessidades, da complexidade da situação e dos objetivos que você deseja alcançar. A jornada é única para cada pessoa.
                                </li><br>
                                <li><strong>O atendimento é online ou presencial?</strong><br>
                                    Atualmente, todos os atendimentos são realizados exclusivamente online.
                                    Essa modalidade permite maior acesso à psicoterapia, elimina a necessidade de deslocamento e permite que você faça as sessões no conforto e na privacidade de um ambiente de sua escolha. É necessário ter conexão à internet.
                                </li><br>
                                <li><strong>Os atendimentos são direcionados para qual idade?</strong><br>
                                            Os atendimentos são direcionados para pessoas acima dos 18 anos.
                                </li><br>
                                <li><strong>O valor é particular ou atende por convênio?</strong><br>
                                    Os atendimentos são particulares.<br>
                                    É importante ressaltar que muitos convênios de saúde permitem que você solicite o reembolso das sessões pagas. Recomenda-se verificar diretamente com a sua operadora as regras e o procedimento para esse tipo de solicitação.
                                </li><br>
                                <li><strong>6. Como posso agendar uma sessão?</strong><br>
                                    Você pode agendar uma sessão entrando em contato através do WhatsApp ou enviando um e-mail, utilize os botões logo abaixo.
                                </li><br>
                                    
                            </ol></p>
                                <div class=contato>
                                        <div class="redes-sociais">
                                Entre em contato:
                                <a href="https://www.instagram.com/psi.brunalucas" target="_blank"><img src="/imgs/icons/instagram_2.svg" alt="Instagram" ></a>
                                <a href="mailto:bllu.brunalucas@gmail.com" target="_blank"><img src="/imgs/icons/mail_2.png" alt="email" ></a>
                                <a href="https://w.app/psi_brunalucas" target="_blank"><img src="/imgs/icons/whatsapp_2.svg" alt="whatsapp" ></a>
                                        </div>
                                </div> 
                                <hr>
                        </div>
                    </div>
            </div>
        </div>
    </main>
     <footer>
        <div class="footer1">
        <div class="footer-top">
            <div class="footer-logo">
                <span class="logo-text">
                    Bruna Lucas
                </span>
            </div>
            <nav class="footer-nav">
                <a href="sobreMim.html">Sobre Mim</a>
                <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                
            </nav>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
                <a href="mailto:psicologabrunalucas@gmail.com" >Email</a>
                <a href="https://www.instagram.com/psi.brunalucas"  target="_blank">Instagram</a>
                <a href="https://wa.me/message/KAI3R2U7MTONI1" aria-label="WhatsApp" target="_blank">WhatsApp</i></a>
                <a href="/views/politica_privacidade.html" class="privacy-policy" target="_blank">Política de Privacidade</a>
            </div>
        </div>
        </div>
    </footer>

</html>


</body>

</html>