<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/privacypolicy.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/home.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <button type="submit" class="button"><a class="button" href="https://w.app/psi_brunalucas" target="_blank">Entre em contato</a></button>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
    <li class="items"><a href="/views/Blog.html">Blog</a></li>
    </li>
</ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                    <div class="content">
                        <div class="text-content">
                            <div class="title">
                                <h1 class="title">Politicas de Privacidade<hr></h1> </div>
                            <p><h3 class="title">atualizado em 23/10/2025</h3></p>

                            <ol class="lista">
                                
                                <li>Coleta de Informações</li><br>
                                <p>Nosso site não coleta informações pessoais diretamente. O contato para agendamentos e dúvidas é realizado exclusivamente pelo WhatsApp.</p>
                                <li>Uso das Informações</li>
                                <p>As informações fornecidas voluntariamente pelo WhatsApp são utilizadas para:</p>
                                    <ul>
                                        <li>Agendar e realizar atendimentos psicológicos online através do Google Meet.</li>
                                        <li>Comunicar-se com os clientes sobre agendamentos e suporte.</li>
                                        <li>Atender a obrigações legais e regulatórias.</li>
                                    </ul><br>
                                <li>Armazenamento e Proteção dos Dados</li>
                                <p>Os dados compartilhados pelo WhatsApp são tratados com sigilo e segurança, respeitando as normas éticas da psicologia e garantindo a confidencialidade das informações.</p>
                                <li>Compartilhamento de Informações</li>
                                <p>Não compartilhamos suas informações pessoais com terceiros, exceto:</p>
                                <P>Quando exigido por lei ou determinação judicial.</P>
                                <li>Direitos do Usuário</li>
                                <p>Você tem o direito de:</p>
                                <p>
                                    Solicitar informações sobre como seus dados estão sendo utilizados;<br>
                                    Pedir a exclusão de mensagens e informações trocadas no WhatsApp.
                                </p>
                                <p>Para exercer esses direitos, entre em contato pelo próprio WhatsApp.</p>
                                
                                <li>Cookies e Tecnologias de Rastreamento</li>
                                <p>Nosso site pode utilizar cookies e outras tecnologias de rastreamento para melhorar sua experiência. Você pode configurar seu navegador para recusar cookies, mas isso pode afetar algumas funcionalidades do site.</p>
                                <li>Alterações nesta Política</li>
                                <p>Podemos atualizar esta Política de Privacidade periodicamente. As alterações serão publicadas no site e, quando necessário, notificaremos os usuários.</p>
                                <li>Contato</li>
                                <P>Se tiver dúvidas sobre esta Política de Privacidade, entre em contato pelo WhatsApp ou Email, através dos botões abaixo.</P>
                            </ol>

                                <div class=contato>
                                        <div class="redes-sociais">
                                <span>Agende sua sessão:</span>  
                        
                                <a href="mailto:bllu.brunalucas@gmail.com" target="_blank"><img src="/imgs/icons/mail_2.png" alt="email" ></a>
                                <a href="https://w.app/psi_brunalucas" target="_blank"><img src="/imgs/icons/whatsapp_2.svg" alt="whatsapp" ></a>
                                        </div>
                                </div>
                                <hr>
                                <div class="politicas">
                                    <p>Ao utilizar nosso site e serviços, você concorda com os termos desta Política de Privacidade.</p>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
    </main>

<footer >
        
        <div class="footerPrivacy">
            <div class="footer-top">
                <div class="footer-logo">
                    <span class="logo-text">
                    Bruna Lucas
                    </span>
            </div>
                 <nav class="footer-nav">
                    <a href="sobreMim.html">Sobre Mim</a>
                    <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                    <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                    <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                
                </nav>
        </div>

        <hr class="footer-divider">
        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
                <a href="mailto:psicologabrunalucas@gmail.com" >Email</a>
                <a href="https://www.instagram.com/psi.brunalucas"  target="_blank">Instagram</a>
                <a href="https://wa.me/message/KAI3R2U7MTONI1" aria-label="WhatsApp" target="_blank">WhatsApp</i></a>
                <a href="/views/politica_privacidade.html" class="privacy-policy" target="_blank">Política de Privacidade</a>
            </div>
        </div>
    </div>
    </footer>

</body>

</html>