<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sobreMim.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/home.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <button type="submit" class="button"><a class="button" href="https://w.app/psi_brunalucas" target="_blank">Entre em contato</a></button>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="PerguntasFrequentes.html">Perguntas Frequentes</a></li>
    </li>
</ul>
        </nav>
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                <img class="sidebar-image"  src="/imgs/Tablet.png" alt="Foto da Bruna Lucas">
                    <div class="content">
                        <div class="text-content">
                            <div class="title">Sobre mim<hr></div>
                            <p><h2></h2></p>
                            Sou Psicóloga com especialização em Terapia Cognitivo-Comportamental (PUC-RS) e Terapia do Esquema e Transtornos do Impulso.<br> Tenho mais de 10 anos de atuação em Saúde Ocupacional, 
                            atuando em contextos corporativos com foco em bem-estar, prevenção e qualidade de vida.
                            Ao longo da minha trajetória, desenvolvi um olhar sensível e técnico sobre o impacto que o trabalho, a tecnologia, os relacionamentos e as experiências de vida exercem sobre a saúde mental.<br>
                            Atuo em atendimentos clínicos individuais, grupos terapêuticos e programas corporativos voltados a promoção de saúde mental.
                            <br>Acredito que o processo terapêutico é um espaço seguro para compreender emoções, identificar padrões que geram sofrimento e desenvolver novas formas de se relacionar consigo e com o mundo.
                            <br>Mais do que tratar sintomas, meu propósito é ajudar cada pessoa a se reconectar com sua história, fortalecer sua autonomia emocional e construir uma vida com mais equilíbrio, propósito e autenticidade.
                                <div class=contato>
                                        <div class="redes-sociais">
                                Entre em contato:
                                <a href="https://www.instagram.com/psi.brunalucas" target="_blank"><img src="/imgs/icons/instagram_2.svg" alt="Instagram" ></a>
                                <a href="mailto:psi.brunalucas@gmail.com" target="_blank"><img src="/imgs/icons/mail_2.png" alt="email" ></a>
                                <a href="https://w.app/psi_brunalucas" target="_blank"><img src="/imgs/icons/whatsapp_2.svg" alt="whatsapp" ></a>
                                        </div>
                                </div> 
                        </div>
                    </div>
            </div>
        </div>
    </main>

<footer class="footer">
        
        <div class="footer-top">
            <div class="footer-logo">
                <span class="logo-text">
                    Bruna Lucas
                </span>
            </div>
            <nav class="footer-nav">
                <a href="sobreMim.html">Sobre Mim</a>
                <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                
            </nav>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
                <a href="#" aria-label="E-mail"><i class="fa-solid fa-envelope"></i></a>
                <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                
                <a href="#" class="privacy-policy">Política de Privacidade</a>
            </div>
        </div>
    </footer>

</body>

</html>