<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/TerapiaDoEsquema.css">
    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/icons/favicon.svg">
    <script defer src="/javascript/app.js"></script>

    <title>Bruna Lucas</title>
    
</head>
<body>
     <header class="header">
        <nav class="nav">
                <a class="logo" href="/views/home.html" ><img class="logo" src="/imgs/icons/Logo_cortado.png" alt="Logo do site"></a>
                <ul class="nav-list">
    <button type="submit" class="button"><a class="button" href="https://wa.me/message/KAI3R2U7MTONI1" target="_blank">Entre em contato</a></button>
    <li class="items"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items"><a href="#">Abordagens Terapêuticas</a>
        <ul class="dropdown">
            <li ><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
            <li ><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
        </ul>
    <li class="items"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
    <li class="items"><a href="/views/Blog.html">Blog</a>
    </li>
</ul>
<button id="btn-menu" onclick="animacao()">
    <span class="linha"></span>
    <span class="linha"></span>
    <span class="linha"></span>
</button>
<div class="nav-mobile" id="Menu">
    <ul class="nav-list-mobile">
    <li class="items-mobile"><a href="/views/sobreMim.html">Sobre Mim</a></li>
    <li class="items-mobile"><a href="/views/TerapiaDoEsquema.html" >Terapia do Esquema</a></li>
    <li class="items-mobile"><a href="/views/TerapiaCognitiva.html">Terapia Cognitivo Comportamental</a></li>
    <li class="items-mobile"><a href="/views/Empresas.html">Para Empresas</a></li>
    <li class="items-mobile"><a href="/views/Blog.html">Blog</a></li>
    <li class="items-mobile"><a href="/views/PerguntasFrequentes.html">Perguntas Frequentes</a></li>
</ul>
</div>
        </nav>
    </header>

    <main class="main">
        <div class="main-content">
            <div class="sidebar">
                    <div class="content">
                        
                        <div class="text-content">
                            <div class="title">Terapia do Esquema: transformando padrões emocionais profundos<hr></div>
                            <p>A Terapia do Esquema é uma abordagem moderna e integrativa da psicoterapia, criada por Jeffrey Young, que aprofunda a compreensão sobre as raízes emocionais do sofrimento humano.</p>
                            <p>Ela busca entender como experiências da infância e adolescência moldaram padrões de pensamento, emoção e comportamento que se repetem ao longo da vida e dificultam relacionamentos, autoestima e bem-estar.</p>
                            <p>Esses padrões, chamados de “esquemas iniciais desadaptativos”, são crenças e sentimentos que surgem quando necessidades emocionais básicas — como afeto, segurança, autonomia e reconhecimento — não foram plenamente atendidas. 
                            Na vida adulta, esses esquemas se manifestam em formas de agir e sentir que geram dor, autocrítica e relacionamentos insatisfatórios.</p>

                            <p>Durante o processo terapêutico, o paciente aprende a identificar, compreender e transformar esses esquemas, desenvolvendo novas formas de se relacionar consigo mesmo e com os outros. </p>
                            <p>Por meio de técnicas emocionais, cognitivas e vivenciais, buscamos ressignificar e fortalecer a autoestima e a autocompaixão.
                            A Terapia do Esquema é indicada para pessoas que sentem que repetem os mesmos padrões, enfrentam relacionamentos difíceis, têm autoexigência excessiva, ou carregam uma sensação constante de não ser suficiente.
                            <p>O foco é promover mudanças emocionais profundas e duradouras, ajudando o paciente a viver com mais liberdade emocional, autenticidade e equilíbrio interno.</p>
                            
                                <div class=contato>
                                        <div class="redes-sociais">
                                <span>Agende sua consulta:</span>
                                <a href="mailto:psicologabrunalucas@gmail.com" target="_blank"><img src="/imgs/icons/mail_2.png" alt="email" ></a>
                                <a href="https://wa.me/message/KAI3R2U7MTONI1" target="_blank"><img src="/imgs/icons/whatsapp_2.svg" alt="whatsapp" ></a>
                                        </div>
                                </div> 
                        </div>
                    </div>
            </div>
        </div>
    </main>

<footer>
  <div class="footer1">


        
        <div class="footer-top">
            <div class="footer-logo">
                <span class="logo-text">
                    Bruna Lucas
                </span>
            </div>
            <nav class="footer-nav">
                <a href="sobreMim.html">Sobre Mim</a>
                <a href="TerapiaCognitiva.html">Terapia Cognitiva Comportamental</a>
                <a href="TerapiaDoEsquema.html">Terapia do Esquema</a>
                <a href="PerguntasFrequentes.html">Perguntas Frequentes</a>
                <a href="Blog.html">Blog</a>
                
            </nav>
        </div>

        <hr class="footer-divider">

        <div class="footer-bottom">
            <div class="copyright-info">
                &copy; 2025 Psicóloga Bruna Lucas. Todos os direitos reservados. (CRP: 06/190370)
            </div>
            <div class="social-links">
               <a href="mailto:psicologabrunalucas@gmail.com" >Email</a>
                <a href="https://www.instagram.com/psi.brunalucas"  target="_blank">Instagram</a>
                <a href="https://wa.me/message/KAI3R2U7MTONI1" aria-label="WhatsApp" target="_blank">WhatsApp</i></a>
                <a href="/views/politica_privacidade.html" class="privacy-policy" target="_blank">Política de Privacidade</a>
            </div>
        </div>
    </div>
    </footer>

</body>

</html>